@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

body {
    background-color: #bfcabd;
}

.bg2 {
    background-color: #dcb8b8;
}

/* header */
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 30000;
}

.header__inner {
    padding: 20px;
    position: relative;
}

.header__inner h1 a {
    font-family: "Darker Grotesque";
    font-weight: 200;
    font-style: normal;
    font-size: 40px;
    letter-spacing: -0.1vw;
    line-height: 1;
}

.header__inner p {
    font-family: "Darker Grotesque";
}

.header__inner .link {
    position: absolute;
    right: 10px;
    top: 20px;
}

.header__inner .link a {
    font-family: "Darker Grotesque";
    font-weight: 300;
    padding-right: 20px;
    background-image: url(../svg/arrow.svg);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: right center;
    margin-bottom: 5px;
    display: inline-block;
}

/* footer__inner */

.footer__inner nav {
    position: fixed;
    left: 20px;
    bottom: 20px;
    font-family: "Darker Grotesque";
}

.footer__inner nav ul {
    display: flex;
}

.footer__inner nav li a {
    margin-right: 5px;
    font-size: 16px;
    font-weight: 400;
}

.footer__inner nav li.active a {
    text-emphasis: circle;
}